@font-face {
  font-family: 'Kaskar Sans';
  src: url('KaskarSans-Regular.otf') format('opentype'),
       url('KaskarSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* https://cdn.jsdelivr.net/gh/qaisar-data-science/KaskarSans/kaskarsans.css */
/* font-family: 'Kaskar Sans', sans-serif; */
